@import url("https://use.typekit.net/oql0hxn.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(249, 108, 76);
  --fg-100: hsl(220 20% 98%);
  --fg-200: hsl(220 20% 80%);
  --bg-100: hsl(192, 11%, 18%);
}

html,
body,
#app {
  height: 100%;
}
body {
  font-family: 'loos-wide', monospace;
  color: var(--fg-100);
  background-color: var(--bg-100);
}

button {
  font: inherit;
  font-weight: 700;
  line-height: 1.2rem;
  font-size: 1.2rem;
  color: rgb(32, 43, 49);
  background: rgb(251, 188, 60);
  padding: 12px 18px;
  border-radius: 6px 6px;
  border: none;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: rgb(247, 178, 40);
    opacity: 1;
    border-radius: 18px 18px;
    font-size: 1.1rem;
  }
}
